PCB/USBLabTool/USBLabTool-backups/*
PCB/USBLabTool/fp-info-cache
PCB/USBLabTool/*.kicad_prl
PCB/USBLabTool/*.lck
PCB/USBLabTool/*.bak
Previous_Designs/AWG/PCB/PCB_Rev1/fp-info-cache
Previous_Designs/AWG/PCB/PCB_Rev1/*.kicad_prl
Previous_Designs/AWG/PCB/PCB_Rev1/*.lck
Previous_Designs/AWG/PCB/PCB_Rev1/*.bak
Previous_Designs/AWG/PCB/PCB_Rev2AFinal/fp-info-cache
Previous_Designs/AWG/PCB/PCB_Rev2AFinal/*.kicad_prl
Previous_Designs/AWG/PCB/PCB_Rev2AFinal/*.lck
Previous_Designs/AWG/PCB/PCB_Rev2AFinal/*.bak
Previous_Designs/AWG/PCB/PCB_Rev2B/fp-info-cache
Previous_Designs/AWG/PCB/PCB_Rev2B/*.kicad_prl
Previous_Designs/AWG/PCB/PCB_Rev2B/*.lck
Previous_Designs/AWG/PCB/PCB_Rev2B/*.bak
Previous_Designs/Logic-Analyzer/PCB/fp-info-cache
Previous_Designs/Logic-Analyzer/PCB/*.kicad_prl
Previous_Designs/Logic-Analyzer/PCB/*.lck
Previous_Designs/Logic-Analyzer/PCB/*.bak
Previous_Designs/Oscilloscope/Front_EndDesign3/fp-info-cache
Previous_Designs/Oscilloscope/Front_EndDesign3/*.kicad_prl
Previous_Designs/Oscilloscope/Front_EndDesign3/*.lck
Previous_Designs/Oscilloscope/Front_EndDesign3/*.bak
Previous_Designs/Oscilloscope/Front_EndDesign3/oscilloscope/fp-info-cache
Previous_Designs/Oscilloscope/Front_EndDesign3/oscilloscope/*.kicad_prl
Previous_Designs/Oscilloscope/Front_EndDesign3/oscilloscope/*.lck
Previous_Designs/Oscilloscope/Front_EndDesign3/oscilloscope/*.bak
Previous_Designs/Oscilloscope/Front_EndDesign3/oscilloscope/giang/fp-info-cache
Previous_Designs/Oscilloscope/Front_EndDesign3/oscilloscope/giang/*.kicad_prl
Previous_Designs/Oscilloscope/Front_EndDesign3/oscilloscope/giang/*.lck
Previous_Designs/Oscilloscope/Front_EndDesign3/oscilloscope/giang/*.bak
